.footer-container{
    background-color:var(--grey-400);
    height: 150px;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
}